<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Binding" version="4.3.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Core" version="4.3.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.Shared" version="4.3.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.Support.V4" version="4.3.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.Support.V7.AppCompat" version="4.3.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Platform" version="4.3.0" targetFramework="monoandroid50" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="monoandroid50" />
  <package id="Square.OkHttp" version="2.4.0.1" targetFramework="monoandroid50" />
  <package id="Square.OkIO" version="1.5.0.0" targetFramework="monoandroid50" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.FFImageLoading" version="2.2.2" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.2" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.2" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Location" version="29.0.0.2" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Maps" version="29.0.0.2" targetFramework="monoandroid50" />
</packages>